# SPDX-License-Identifier: Apache-2.0

# FireFly transaction manager maintainers
* @hyperledger/firefly-transaction-manager-maintainers

# FireFly Documentation Maintainers
/docs @peterbroadhurst @nguyer @awrichar @nickgaski
