name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: golang:1.19-bullseye
    defaults:
      run:
        shell: bash # needed for codecov
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: f1refly
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Fetch history # See https://github.com/actions/checkout/issues/477
        run: |-
          git config --global --add safe.directory $PWD
          git fetch origin

      - name: Build and Test
        env:
          TEST_FLAGS: -v
          POSTGRES_HOSTNAME: postgres
          POSTGRES_PASSWORD: f1refly
          POSTGRES_PORT: 5432
        run: make

      - name: Upload coverage
        run: bash <(curl -s https://codecov.io/bash)
